@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
.statsCardContainer {
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.statsCardContainer .mainStatCard {
  border-radius: 8px;
  height: 446px;
  width: 1110px;
  background-color: #1b1938;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.statsCardContainer .mainStatCard .stats {
  margin: 38px 110px 30px 72px;
  height: 100%;
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.statsCardContainer .mainStatCard .stats .statsContainer .headerFont {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.statsCardContainer .mainStatCard .stats .statsContainer .statsDescription {
  color: rgba(255, 255, 255, 0.75);
  font-size: 13px;
  font-family: 'Inter', sans-serif;
  padding-bottom: 70px;
}

.statsCardContainer .mainStatCard .stats .statsContainer .interFont {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.statsCardContainer .mainStatCard .stats .statsContainer .headTitle {
  font-family: 'Inter', sans-serif;
  letter-spacing: .4px;
  font-size: 35px;
  padding-bottom: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 44px;
}

.statsCardContainer .mainStatCard .stats .statsContainer .headTitle .insightColor {
  color: #aa5cdb;
}

.statsCardContainer .mainStatCard .stats .statsContainer .statsDescription {
  margin-left: -1px;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  line-height: 25px;
  padding-bottom: 70px;
}

.statsCardContainer .mainStatCard .stats .statsContainer .statsInfo {
  position: relative;
  top: 2px;
  width: 91%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.statsCardContainer .mainStatCard .stats .statsContainer .statsInfo .statsInfoContainer .statHeader {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-stretch: 85%;
}

.statsCardContainer .mainStatCard .stats .statsContainer .statsInfo .statsInfoContainer .detailInfo {
  padding-top: 7px;
  font-family: 'Lexend Deca', sans-serif;
  color: rgba(255, 255, 255, 0.6);
  font-size: 13px;
  text-transform: uppercase;
}

.statsCardContainer .mainStatCard .imageContainer {
  height: 100%;
  min-width: 50%;
  background-color: #aa5cdb;
  overflow: hidden;
}

.statsCardContainer .mainStatCard .imageContainer .backgroundImage {
  overflow: hidden;
  height: 100%;
  width: 100%;
  opacity: .75;
  background-image: url("../../public/image-header-desktop.jpg");
  background-size: cover;
  mix-blend-mode: multiply;
}
/*# sourceMappingURL=statsPreviewCardStyles.css.map */